# This is a basic workflow to help you get started with Actions

name: Compile slides

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Set up Git repository
      uses: actions/checkout@v2

    - name: Compile LaTeX document
      uses: xu-cheng/latex-action@master
      with:
        root_file: lecture00-introduction/slides.tex

    - name: Commit PDF files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git checkout gh-pages       
        mv lecture00-introduction/slides.pdf  lecture00-introduction.pdf
        git add lecture00-introduction.pdf
        git commit -m 'Add slides to GH pages'
        
    - name: Push PDF to Github pages
      uses: ad-m/github-push-action@gh-pages
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
